<ul class="nav pull-left">
    <li class="divider-vertical"></li>
    <li><%= link_to "Home", root_url, :title => "SV-Mühlburg Startseite"%></li>
    <li class="dropdown">
	<a id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#"> Mannschaften 
        <b class="caret"></b></a><ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
        <li role="presentation"><a href="http://google.com" tabindex="-1" role="menuitem">bla</a></li>
        <li role="presentation"><a href="#anotherAction" tabindex="-1" role="menuitem"></a></li><li role="presentation">
        <a href="#" tabindex="-1" role="menuitem"></a></li><li class="divider" role="presentation"></li><li role="presentation"></li></ul>
    </li>
    <li><%= link_to "Anfahrt", root_url, :target => "_parent", :title => "Anfahrt"%></li>
    <li><%= link_to "Kontakt", root_url, :target => "_parent", :title => "Kontakt"%></li>
    <li><%= link_to "Links", root_url, :target => "_parent", :title => "Links"%></li>
    <li><%= link_to "Memorandum", root_url, :target => "_parent", :title => "das, was in Erinnerung bleibt"%></li>
  <% if user_signed_in? %>
  <% end %>
</ul>

<ul class="nav pull-right">
    <li>    <form class="navbar-search pull-right"> <input type="text" class="search-query" placeholder="Search">
		    </form></li>
  <% if user_signed_in? %>
    <li>Signed in as <%= current_user.nickname %>.</li>
    <li> <%= link_to "Abmelden", destroy_user_session_path, :method => :delete %> </li>
  <% else %>
    <li> <%= link_to "Anmelden", new_user_session_path %> </li>
  <% end %>
</ul> 
